/* ============ GENERAL STYLING ============ */

body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;

}

section {
    min-height: 100vh;
    padding-top: 120px;  
    padding-bottom: 120px;

    scroll-margin-top: 50px;
}

html {
    scroll-margin-top: 70px;
}


/* ================= NAVBAR ================= */

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    opacity: 0.7;
}


/* ================ HERO ==================== */

#hero {
    padding: 180px 20px;
    background: linear-gradient(to right, #80b7f1, #3564e6);
    color: white;
}

#hero img {
    border: 4px solid white;
}

#hero .btn {
    transition: 0.3s;

}

#hero .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}


/* ================ EDUCATION =============== */

.dark-mode .accordion-item {
    border: 1px solid #333 !important;
}

/* ================= SKILLS ================= */

#skills .card:hover {
    transform: scale(1.05);
}

/* ================ PROJECTS ================ */

#projects .carousel-inner img {
    height: 300px;
    object-fit: cover;
}

#projects .card-img-top {
    height: 200px;
    object-fit: cover;
}

.project-card,
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover,
.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


/* ================= CONTACT ================ */




/* ============ BACK TO TOP BUTTON ========== */

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: 0.3s;
}

#backToTop:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* =============== DARK MODE ================ */

.dark-mode {
    background-color: #1a1a1a !important;
    color: #f1f1f1 !important;
}

.dark-mode a,
.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5 {
    color: #f1f1f1 !important;
}

.dark-mode .navbar,
.dark-mode .card,
.dark-mode .list-group-item {
    background-color: #1e1e1e !important;
    color: white !important;
}

.dark-mode .accordion-button,
.dark-mode .accordion-button.collapsed {
    background-color: #1e1e1e !important;
    color: #f1f1f1 !important;
    border-color: #333 !important;
}

.dark-mode .accordion-body {
    background-color: #181818;
    color: #e8e8e8;
}

.dark-mode .accordion-button::after {
    filter: brightness(3);
}

#darkModeToggle {
    transition: 0.3s;
}

.dark-mode #darkModeToggle i {
    color: white !important;
}

#darkModeToggle:hover {
    transform: scale(1.1);
}

.dark-mode #hero {
    background: linear-gradient(to right, #333, #111) !important;
    color: #f1f1f1 !important;
}

