/* ============ GENERAL STYLING ============ */

body {
    font-family: 'Inter', sans-serif;
    background-color: #e6f3ff;
}

section {
    min-height: 100vh;
    padding-top: 120px;  
    padding-bottom: 120px;

    scroll-margin-top: 50px;
}

html {
    scroll-margin-top: 70px;
}

.section-shadow {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 40px;
    background: white;
}

.dark-mode .section-shadow {
    background: #1e1e1e;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.05);
}

/* ---------- PAGE LOADER ---------- */

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#loader.hidden {
    visibility: hidden;
}

/* ================= NAVBAR ================= */

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    opacity: 0.7;
}

.navbar form input {
    border-radius: 20px;
}

/* ================ HERO ==================== */

#hero {
    padding: 180px 20px;
    background: linear-gradient(to bottom, 
        #3564e6 0%,
        #80b7f1 60%,
        #e6f3ff 100%
    );
    color: white;
}

#hero img {
    border: 4px solid white;
}

#hero .btn {
    transition: 0.3s;

}

#hero .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

/* ================ EDUCATION =============== */

.dark-mode .accordion-item {
    border: 1px solid #333 !important;
}

#education table td {
    padding: 6px 8px;
    border-bottom: 1px solid #ddd;
}

.dark-mode #education table td {
    border-bottom: 1px solid #333;
}

.grade-A {
    color: #0f8a40;
    font-weight: bold;
}

.grade-B {
    color: #d6a741;
    font-weight: bold;
}

.grade-C {
    color: #c24f40;
    font-weight: bold;
}

.education-card {
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease;
}

.education-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.12);
}

.dark-mode .education-card {
    background: #2a2a2a;
    border-color: #444;
    box-shadow: 0 2px 8px rgba(255,255,255,0.05);
}

/* ================= SKILLS ================= */

#skills .card:hover {
    transform: scale(1.05);
}

#skills .card {
    height: 100%;
}

#skills .col-md-4 {
    display: flex;
}

#skills .card p {
    flex-grow: 1; 
}

#skillsTab {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}

#skillsTab .nav-item {
    flex: 0 0 auto;
}

/* ================ PROJECTS ================ */

#projects .card {
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#projects .card-img-top {
    height: 200px;
}

#projects .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#projects .card-body a.btn {
    margin-top: auto;
}

#projects .card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#projects .carousel-inner img {
    height: 300px;
    object-fit: contain;
    background-color: #e9e9e9;
    padding: 10px;
    border-radius: 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1) brightness(200%);
}

/* ================= INTERESTS ============== */

#interests .card img {
    max-height: 150px;
    object-fit: cover;
}

/* ================= CONTACT ================ */

.map-display {
    position: relative;
    padding-bottom: 56.25%;
}

.map-display iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ============ BACK TO TOP BUTTON ========== */

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: 0.3s;
}

#backToTop:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* =============== DARK MODE ================ */

.dark-mode {
    background-color: #2b2b2b !important;
    color: #f1f1f1 !important;
}

.dark-mode a,
.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5 {
    color: #f1f1f1 !important;
}

.dark-mode .navbar,
.dark-mode .card,
.dark-mode .list-group-item {
    background-color: #3a3a3a !important; 
    color: white !important;
}

.dark-mode .accordion-button,
.dark-mode .accordion-button.collapsed {
    background-color: #3a3a3a !important;
    color: #f1f1f1 !important;
    border-color: #555 !important;     
}

.dark-mode .accordion-body {
    background-color: #2f2f2f;
    color: #e8e8e8;
}

.dark-mode .accordion-button::after {
    filter: brightness(4);
}

#darkModeToggle {
    transition: 0.3s;
}
.dark-mode #darkModeToggle i {
    color: white !important;
}

#darkModeToggle:hover {
    transform: scale(1.1);
}

.dark-mode #hero {
    background: linear-gradient(
        to bottom,
        #141414,
        #272727,
        #2b2b2b
        
    ) !important;
    color: #f1f1f1 !important;
}



